@font-face {
    font-family: 'Black Rusher';
    src: url('BlackRusher.woff2') format('woff2'),
        url('BlackRusher.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

